| Hello #{user.firstname} #{user.lastname},
| 
| We have received a request to reset your password of your username '#{user.username}'. 
| To reset your password, click on this link 
| #{resetURL} 
| and follow the instructions.
| 
| Regards,
| 
| The #{config.name} team.